<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Login</title>
  </head>
  <body>
    <div class="container login-container">
      <div class="row">
        <div class="col-md-6 login-form-1">
          <h3>Login</h3>
          <form action="/login" method="POST">
            <div class="form-group">
              <input
                name="username"
                type="text"
                class="form-control"
                placeholder="Tu nombre"
                id="username"
              /><br />
              <input
                name="password"
                type="password"
                class="form-control"
                placeholder="Tu password"
                id="password"
              />
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
          <div>
            <button onclick="window.location.href='/register'">register</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
